<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.count_of_words %> </h2>

<h2>Vowels:<%= %></h2>

<h2>Consonants:<%= %></h2>

<h2>Most Common Letter: <%= %>, used <%= %> times</h2>
